@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

@font-face {
    font-family: birthday;
    src: url(/Birthday-Regular.ttf);
}

$colors: #f8b195, #c06c85, #312a38, #5792e5;
section {
    width: 100vw;
    height: 100vh;
}
// Inputs
input[type='radio'] {
  display: none;
}

@for $i from 1 through length($colors) {
  input[type='radio']#section#{$i}:checked ~ nav label[for='section#{$i}'] {
    background-color: white;
  }
  
  input[type='radio']#section#{$i}:checked ~ section:nth-of-type(#{$i}) { 
    z-index: 1;
    top: 0;
    transition: top 0.5s ease-in-out;
    transition-delay: 0s;
  }
  
  input[type='radio']#section#{$i}:checked ~ .cover { 
   background-color: nth($colors, $i);
  }
}


// Navigation
.nav {
  position: fixed;
  z-index: 2;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  
  &__item {
    width: 5vw;
    height: 5vw;
    display: block;
    margin: 12px auto;
    border: solid 2px white;
    border-radius: 50%;
    cursor: pointer;
    
    &:hover {
      background-color: white;
    }
  }
}


// Sections
section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%; right: 0; left: 0;
  transition-delay: 0.5s;
}

@for $i from 1 through 4 {
  section:nth-of-type(#{$i}) {
    background: nth($colors, $i);
  }
}


// Fix the white-space
.cover {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
}

// Base
html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  color: white;
  font: 100% 'Carter One', cursive;
}

h1 {
  font-size: 6em;
  text-align: center;
}

.stars {
        background: #060e1b;
        overflow: hidden;
}
.introText{
    font-family: "birthday";
    z-index: 1000;
    display: flex;
    position: absolute;
    line-height: 150%;
}
$bg: rgba(16, 16, 56, 0.233);
$text-color: #d7b94c;
$caret-color: rgb(22, 17, 66);
$text-length: 16;
$animation-time: 4s;
// Typing style
.typing {
      &::after {
      content: "|";
      position: absolute;
      right: 0;
      width: 100%;
      background: $bg;
      animation: typing $animation-time steps($text-length) forwards,
        caret 1s infinite;
    }
  }
  // Animation
  @keyframes typing {
      to { width: 0 }
  }
  @keyframes caret {
      50% { color: transparent }
  }
  canvas {
    width:100vw;
    height: 100vh;
    overflow-y: hidden;
  }
  * {
    overflow: hidden;
  }
  h2 {
    padding: 15%;
  }
  video.fullscreen {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width:100%;
    height:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    &::-webkit-media-controls {
       display:none !important;
    }
  }
  // cake stuff
.finalText {
    font-family: "birthday";
}
  