@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: birthday;
  src: url(/Birthday-Regular.ttf);
}
section {
  width: 100vw;
  height: 100vh;
}

input[type=radio] {
  display: none;
}

input[type=radio]#section1:checked ~ nav label[for=section1] {
  background-color: white;
}

input[type=radio]#section1:checked ~ section:nth-of-type(1) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

input[type=radio]#section1:checked ~ .cover {
  background-color: #f8b195;
}

input[type=radio]#section2:checked ~ nav label[for=section2] {
  background-color: white;
}

input[type=radio]#section2:checked ~ section:nth-of-type(2) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

input[type=radio]#section2:checked ~ .cover {
  background-color: #c06c85;
}

input[type=radio]#section3:checked ~ nav label[for=section3] {
  background-color: white;
}

input[type=radio]#section3:checked ~ section:nth-of-type(3) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

input[type=radio]#section3:checked ~ .cover {
  background-color: #312a38;
}

input[type=radio]#section4:checked ~ nav label[for=section4] {
  background-color: white;
}

input[type=radio]#section4:checked ~ section:nth-of-type(4) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

input[type=radio]#section4:checked ~ .cover {
  background-color: #5792e5;
}

.nav {
  position: fixed;
  z-index: 2;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nav__item {
  width: 5vw;
  height: 5vw;
  display: block;
  margin: 12px auto;
  border: solid 2px white;
  border-radius: 50%;
  cursor: pointer;
}
.nav__item:hover {
  background-color: white;
}

section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

section:nth-of-type(1) {
  background: #f8b195;
}

section:nth-of-type(2) {
  background: #c06c85;
}

section:nth-of-type(3) {
  background: #312a38;
}

section:nth-of-type(4) {
  background: #5792e5;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height: 40px;
  width: 40px;
  padding: 12px 18px;
  z-index: 2;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  background-color: gainsboro;
}

.play {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
  z-index: 1000;
  position: absolute;
}

.pause {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==) !important;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  color: white;
  font: 100% "Carter One", cursive;
}

h1 {
  font-size: 6em;
  text-align: center;
}

.stars {
  background: #060e1b;
  overflow: hidden;
}

.introText {
  font-family: "birthday";
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  line-height: 150%;
}

.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  background: rgba(16, 16, 56, 0.233);
  -webkit-animation: typing 4s steps(16) forwards, caret 1s infinite;
          animation: typing 4s steps(16) forwards, caret 1s infinite;
}

@-webkit-keyframes typing {
  to {
    width: 0;
  }
}

@keyframes typing {
  to {
    width: 0;
  }
}
@-webkit-keyframes caret {
  50% {
    color: transparent;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}
canvas {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

* {
  overflow: hidden;
}

h2 {
  padding: 15%;
}

video.fullscreen {
  position: absolute;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
video.fullscreen::-webkit-media-controls {
  display: none !important;
}

.finalText {
  font-family: "birthday";
}